@using VkNet.Model

@model IEnumerable<User>

@{
    ViewBag.Title = "FilterResult";
}

<h3 class="text-center">Результат фильтрации пользователей: </h3>

@Html.TextArea("filteredUserIds",
    string.Join("\n", Model.Select(x => $"vk.com/id{x.Id}")),
    new { @class = "form-control", @style = "width: 500px; margin-top:10px" })
