@{
    ViewBag.Title = "Like parser";
}

<h3 class="text-center">Парсер лайков ВК</h3>

Введите ссылку на посты вида
<b class="text-primary">https://vk.com/wall12345_67890</b> или
<b class="text-primary">https://vk.com/group_name?wall=-111_22222</b>

@using (Html.BeginForm("ParserResult", "Home", FormMethod.Post))
{
    <input name="postLink" class="form-control" style="margin-top: 10px; width: 25%; max-width: 500px">
    <input id="submitPost" type="submit" class="btn btn-success" value="Начать поиск аудитории" style="margin-top: 15px ">
}

