@model IEnumerable<long>

@{
    ViewBag.Title = "Parser result";
}

<h3 class="text-center">Результат парсинга лайков с поста: </h3>

<form asp-area="" asp-controller="Home" asp-action="Filter" method="post">
    <textarea name="userIds" class="form-control" rows="5" style="margin-top: 10px; max-width: 100%">@string.Join("\n", Model?.Select(x => $"vk.com/id{x}"))</textarea>
    <input type="submit" class="btn btn-success" value="Отфильтровать пользователей" style="margin-top: 15px ">
</form>

