@{
    Layout = "~/Views/Shared/_AuthorizationLayout.cshtml";
}

<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, '\\$&');
        var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, ' '));
    }

    function SignIn() {
        var form = $('#authForm');
        $('#returnUrl').val(getParameterByName('ReturnUrl', null));
        form.submit();
    }
</script>

<form asp-area="" asp-controller="Authorization" asp-action="SignInVk" method="post" id="authForm">
    <div class="text-center">
        <h5 class="text-warning">Прежде чем продолжить, необходимо авторизоваться!</h5>
        <input type="hidden" id="returnUrl" name="returnUrl" o value="javascript:$('#authForm').submit()" />
        <a class="btn btn-primary" style="width: 200px; color: white" href="javascript:SignIn()">Войти через ВК</a>
    </div>
</form>


