@using VkInstruments.Core.Enums

@model VkInstruments.Web.ViewModels.UserFilterViewModel

@{
    ViewBag.Title = "Filter";
}

<script>
    function UpdateCities(countryId) {
        if (!isNaN(countryId)) {
            $.post("/Home/CityPartial", { countryId: countryId }, function (data) {
                $("#cities").html(data);
            });
        }
    }
</script>

<h3 class="text-center">Фильтр пользователй</h3>

<form asp-area="" asp-controller="Home" asp-action="FilterResult" method="post">
    <b>Введите список пользователей вида <b class="text-primary">https://vk.com/id123456 </b> или просто айди 123456, по 1 ссылке на каждую строку</b>
    <textarea asp-for="UserIds" name="userIds" class="form-control" rows="5" style="margin-top: 10px; max-width: 100%"></textarea>

    <b>Укажите те настройки, по которым вам нужно отфильтровать список пользователей (все сразу указывать необязательно):</b><br />

    <b>1. Фильтр по полу:</b><br />
    <partial name="EnumRadioButtonList" model="typeof(Sex)" />

    <b>2. Фильтр по возрасту:</b><br />
    <label asp-for="AgeFrom"></label>
    <select asp-for="AgeFrom" asp-items="Model.AgeRange" class="form-control"><option>Всё равно</option></select>
    <label asp-for="AgeTo"></label>
    <select asp-for="AgeTo" asp-items="Model.AgeRange" class="form-control"><option>Всё равно</option></select>

    <b>3. Фильтр по дню рождения:</b><br />
    <label asp-for="BirthDay"></label>
    <select asp-for="BirthDay" asp-items="Model.DayRange" class="form-control"><option>Всё равно</option></select>
    <label asp-for="BirthMonth"></label>
    <select asp-for="BirthMonth" asp-items="Model.MonthRange" class="form-control"><option>Всё равно</option></select>

    <b>4. Гео-фильтр (по стране, области или городу):</b><br />
    <label asp-for="Country"></label>
    <select asp-for="Country" asp-items="Model.Countries" class="form-control" onchange="UpdateCities(this.value)"><option>Всё равно</option></select>
    <label asp-for="City"></label>
    <div id="cities"><partial name="CityPartial" model="Model.Cities" /></div>

    <b>5. Фильтр по имени:</b><br />
    <input asp-for="Query" class="form-control" />

    <b>6. Семейное положение:</b><br />
    <partial name="EnumRadioButtonList" model="typeof(Status)" />

    <br />
    <input type="submit" class="btn btn-success" value="Начать фильтрацию данных" style="margin-top: 15px">
</form>
